.heading{
    color: red;
    font-size: large;
}

body.color {
    color: red;
    background-color: rgb(183, 240, 240);

}

header{

    color: gold;
}

#image{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a:link{

    color: gold;
}