<!doctype html>
<!-- Utilized the boostrap starter template: https://getbootstrap.com/docs/5.1/getting-started/introduction/ -->
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Custom CSS-->
    <link rel="stylesheet" href="css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
    <!---W3 Schools Nav bar guide: https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_navbar&stacked=h-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
  </head>

  <title>Books</title>
  
  <body>
    <!-- Nav Bar-->
    <nav class="navbar navbar-default">
      <div class="container-fluid">

        <div class="navbar-header">
          <a class="heading" href="index.html">Books!</a>
        </div>

        <ul class="nav navbar-nav">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="books.html">Books</a></li>
          <li><a href="user.html">User</a></li>
        </ul>

      </div>
    </nav>

    <!-- Begin Table -->
    <div id="offerApp" class="container">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Publisher</th>
            <th>Page Count</th>
            <th>MSRP</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="book in books">
            <td>{{ book.title }}</td>
            <td>{{ book.author }}</td>
            <td>{{ book.yearpublished }}</td>
            <td>{{ book.publisher }}</td>
            <td>{{ book.pagecount }}</td>
            <td>{{ book.msrp }}</td>
          </tr>
        </tbody>
      </table>

      <div class="col col-4">

        <form v-on:submit.prevent="postNewOffer">
          <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" v-model="offerForm.title" class="form-control" id="title" >
          </div>
          <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input type="text" v-model="offerForm.author" class="form-control"  id="author" >
          </div>
          <div class="mb-3">
            <label for="year" class="form-label">Year Published</label>
            <input type="text" v-model="offerForm.year" class="form-control" id="yearpublished" >
          </div>
          <div class="mb-3">
            <label for="publisher" class="form-label">Publisher</label>
            <input type="text" v-model="offerForm.publisher" class="form-control" id="publisher" >
          </div>
          <div class="mb-3">
            <label for="pagecount" class="form-label">Page Count</label>
            <input type="text" v-model="offerForm.pagecount" class="form-control" id="pagecount">
          </div>
          <div class="mb-3">
            <label for="msrp" class="form-label">MSRP</label>
            <input type="number" v-model="offerForm.msrp" class="form-control" id="msrp">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button> 
        </form>
      </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
    <script src="js/book.js"></script>
  </body>
  
</html>
